[Desktop Entry]
Encoding=UTF-8
Name=xmonad
Comment=Tiling window manager
Exec=xmonad-start
Terminal=False
TryExec=xmonad-start

[Window Manager]
SessionManaged=true
# vi: encoding=utf-8
