[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=XMonad
Exec=xmonad
NoDisplay=true
# name we put on the WM spec check window
X-GNOME-WMName=Xmonad
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
